.wrapper {
    margin: 20px auto;
    padding: 10px;

    width: 320px;
    height: 300px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 4px grey;
}

.wrapper textarea {
    margin-top: 20px;
    width: 250px;
    min-height: 100px;
}

.wrapper:first-child {
    justify-content: flex-start;
}

