.preloader {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: cornflowerblue;
    animation-name: slidein;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}


@keyframes slidein {
    from {
        width: 0%;
        background-color: #ce0524;
        opacity: 0;
    }

    to {
        width: 100%;
        background-color: #2654ea;
        opacity: 1;
    }

}